.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

table {
  width: 80vw;
}

tbody {
  box-shadow: 0 0 0 1px lightgray;
  border-radius: 10px;
}

table thead {
  text-align: center;
  height: 50px;
}

table thead tr:not(:first-child) {
  -webkit-box-shadow: 0px 1px 0px 0px lightgray;
  -moz-box-shadow: 0px 1px 0px 0px lightgray;
  box-shadow: 0px 1px 0px 0px lightgray;
}

table tbody tr:not(:last-child) {
  -webkit-box-shadow: 0px 1px 0px 0px lightgray;
  -moz-box-shadow: 0px 1px 0px 0px lightgray;
  box-shadow: 0px 1px 0px 0px lightgray;
}

td {
  padding: 15px;
}

.slider {
  display: flex;
  gap: 10px;
  align-items: center;
}
.slider > p {
  font-size: 20px;
  font-weight: bold;
}

.slider input[type="range"] {
  width: 420px;
  height: 2px;
  background: black;
  border: none;
  outline: none;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader img {
  width: 50px;
  height: 50px;
}

.patient-table {
  height: auto;
  overflow-y: auto;
}
